body{
    background-color: rgb(245, 234, 190);
    color: gray;
}
.items-container{
    display: flex;
    padding-left: 50px;
   
}

.bug-container{
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -5px;


}

.bug-section{
    width: 30px;
    height: 30px;

}

