body{
    background-color: rgb(245, 234, 190);
    color: gray;
}
.items-container{
    display: flex;
    padding-left: 50px;
   
}

.bug-container{
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -5px;


}
.bug-container:hover{
    cursor: pointer;
}

.bug-section{
    width: 30px;
    height: 30px;

}

.yellow-icon{
    color: rgb(254, 203, 77);
}


img{
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
}


.bugs{
    display: flex;
    width: 100vw;
    height: 310px;
    flex-direction: column;
    flex-wrap: wrap;
    
    
}
.bug-div{
    /* width: 55px; */
    display: flex;
    height: 57px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    /* margin-bottom: 3px; */
}

.fish{
    

}

.sea-creatures-div{
    display: flex;
    width: 50vw;
    height: 310px;
    flex-direction: column;
    flex-wrap: wrap;
   
}

.hide{
    display: none;
}

/* Tooltip container */
.tooltip {
    position: relative;
    /* display: inline-block; */
    /* border-bottom: 1px dotted black; If you want dots under the hoverable text */
    justify-content: center;
    align-items: center;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }


