body{
    background-color: rgb(245, 234, 190);
    color: gray;
    margin-right: 20px;
    overflow-x: hidden;
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Roboto', sans-serif;
}
header{
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.logo{
    width: 150px;
    height: 100px;
}

.items-container{
    display: flex;
    padding-left: 25px;
   
}
.button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.bug-container{
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    
    margin-left: -5px;


}
.bug-container:hover{
    cursor: pointer;
}

.bug-section{
    position: relative;
    top: 13px;
    left: 14px;
    width: 30px;
    height: 30px;

}

.yellow-icon{
    color: rgb(254, 203, 77);
}


.img{
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.bugs-grid{
    margin-top: 30px;
    margin-left: 15px;
    
   
}


.bugs{
    display: flex;
    width: 100%;
    height: 335px;
    margin-right: 25px;
    flex-direction: column;
    flex-wrap: wrap;
    /* overflow-x:scroll;
    white-space: nowrap; */

    
    
}
.bug-div{
    /* width: 55px; */
    display: flex;
    height: 65px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    /* margin-bottom: 3px; */
}

.bug-div:hover{
    cursor: pointer;
}

.fish{
    
    

}

.sea-creatures-div{
    display: flex;
    width: 50vw;
    height: 335px;
    flex-direction: column;
    flex-wrap: wrap;
    
   
}

.hide{
    display: none;
}

/* Tooltip container */
.tooltip {
    position: relative;
    /* display: inline-block; */
    /* border-bottom: 1px dotted black; If you want dots under the hoverable text */
    justify-content: center;
    align-items: center;
    
   
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(249, 246, 229);
    color: #000000;
    text-align: center;
    transform: rotate(-4deg);
    padding: 5px 0;
    border-radius: 6px;
    border-width: 4px;
    border-style: solid;
    border-color: initial;
    border-image: url(../src/assets/image.svg) 40 / 12px / 0 round;
    box-shadow:  rgba(0, 0, 0, 0.2) -2px 2px 3px 0px;
    font-weight: 400;
    font-style: italic;
      
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 95%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip .tooltiptitle {

    visibility: visible;
    width: 120px;
    /* background-color: rgb(249, 246, 229); */
    color: #000000;
    text-align: center;
    /* transform: rotate(-4deg); */
    padding: 5px 0;
    /* border-radius: 6px; */
    border-width: 4px;
    /* border-style: solid;
    border-color: initial;
    border-image: url(../src/assets/image.svg) 40 / 12px / 0 round; */
    box-shadow:  rgba(0, 0, 0, 0.2) -2px 2px 3px 0px;
    font-weight: 400;
    font-style: italic;
      
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 95%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 1;
    transition: opacity 0.3s;
    border-radius: 5px;
    background-color: rgb(254, 203, 77);

  }

  .show-title{
    visibility: hidden;
    opacity: 0;
  }
  

  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    
    
  }
/*#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#*/



  .modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(245, 234, 190);
    padding: 1rem 1.5rem;
    width: 50rem;
    height: 30rem;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: repeat(4,1fr) 20px;
    grid-template-rows: repeat(8,1fr);
    grid-template-areas: 
    "name name monthsNorth monthsSouth close"
    ". . monthN monthS ."
    "image image timeTitleN timeTitleN ."
    "image image timeN timeN ."
    "image image rarityTitle rarityTitle ."
    ". . rarity rarity ."
    "priceTitle specialTitle locationTitle locationTitle ."
    "price specialPrice location location .";
    /* place-items: center/center; */
    justify-content: space-around; 
    align-content: space-around; 
}
.name{
    grid-area: name;
    justify-self: center;
    align-self: end;
    visibility: visible;
    
    background-color: rgb(249, 246, 229);
    color: #000000;
    text-align: center;
    
    padding: 5px 10px;
    border-radius: 6px;
    border-width: 4px;
    border-style: solid;
    border-color: initial;
    border-image: url(../src/assets/image.svg) 40 / 12px / 0 round;
    box-shadow:  rgba(0, 0, 0, 0.2) -2px 2px 3px 0px;
    font-weight: 400;
    font-style: italic;
    
    

}
.monthsNorth{
    grid-area: monthsNorth;
    justify-self: center;
    align-self: end;

}
.monthsSouth{
    grid-area: monthsSouth;
    justify-self: center;
    align-self: end;

}
.monthN{
    grid-area: monthN;
    justify-self: center;

}
.monthS{
    grid-area: monthS;
    justify-self: center;

}
.image{
    grid-area: image;
    justify-self: center;
    align-self: center;
    width: 18rem;

}
.timeTitleN{
    grid-area: timeTitleN;
    justify-self: center;
    align-self: end;

}
.timeTitleS{
    grid-area: timeTitleS;
    justify-self: center;
    align-self: end;

}
.timeN{
    grid-area: timeN;
    justify-self: center;

}
.timeS{
    grid-area: timeS;
    justify-self: center;

}
.rarityTitle{
    grid-area: rarityTitle;
    justify-self: center;
    align-self: end;

}
.rarity{
    grid-area: rarity;
    justify-self: center;

}
.priceTitle{
    grid-area: priceTitle;
    justify-self: center;
    align-self: end;

} 
.specialTitle{
    grid-area: specialTitle;
    justify-self: center;
    align-self: end;

}

.locationTitle{
    grid-area: locationTitle;
    justify-self: center;
    align-self: end;

}
.price {
    grid-area: price;
    justify-self: center;

}
.specialPrice{
    grid-area: specialPrice;
    justify-self: center;

} 
.location{
    grid-area: location;
    justify-self: center;

}

.title{
    color:black;
}



.close-button {
    float: right;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
    grid-area: close;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}